@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

*{
	/* box-sizing: border-box; */
    font-family: 'Poppins', sans-serif;  
}

html, body {
    /*background-image: url("../images/bg-9-full.jpg"); */
    background-color: #5394ca;

}
.carousel {
    
    height: 200px;
    
    margin-bottom: 50px;
    
    }
    
.carousel-caption {
    
    z-index: 10;
    
}
.carousel .item {
    
    background-color: rgba(0, 0, 0, 0.8);
    
    height: 300px;
}    
canvas {
    border: 2px solid black;
    display: inline;
    border: dashed 2px yellow;
}

.wrapper {
    margin: 52px 0 0 0;
    display: flex;
    align-items: stretch;
    
}

.sidebar {
    /* background-image: url("../images/bg-9-full.jpg"); */
    background-color: #5d94ca;
    /* position: fixed; */
	min-height: 100vh;
	/* overflow: hidden; */
	border-style: groove;
	/* margin: 0;
    left: 0;  */
    min-width: 250px;
	max-width: 250px;
	
}

.sidebar.active {
    margin-left: -250px;
    
}

a[data-toggle="collapse"]{
    position: relative;
    
}

/* @media (max-width: 768px) {
    .sidebar {
        margin-left: -250px;
    }
    .sidebar.active {
        margin-left: 0;
    }
} */

.content {
   margin: 0; 
    padding: 4px;
}

.center{
	text-align:left;
	padding: 0px;
}

.section {
	height: 100%;
    width:150px;
    float:left;
    padding:0px; 
}


.footer {
    background:#fafafa; 
    position: sticky;
    bottom:0;
	text-align:center; 
	color: white;
    width: 100%; 
    border-top: solid 1px #eee;
 }

 /* .footer p {
     margin-top: 0.5 em;
 } */

.question{
    visibility: visible;
}



input:required {
  border-left: 4px solid #c33;
}

input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
  color: #c33;
  border-color: #c33;
}

input:focus:invalid:focus,
textarea:focus:invalid:focus,
select:focus:invalid:focus {
  border-color: #c33;
  -webkit-box-shadow: 0 0 6px #fcc;
     -moz-box-shadow: 0 0 6px #fcc;
          box-shadow: 0 0 6px #fcc;
}

.h3{
    text-align:left;
}

.h4{
    color:blue;
}

p { 
    color:black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

table, th, td { 
	border: 1px solid black; 
	border-collapse: collapse;
	float: left;
}

th, td { 
    padding: 10px;

}

 input[type=text], input[type=password], input[type=email], textarea{
    width: 100%;
} 

input:required{
    border-bottom: 4px solid #c33;
}

label{
    font-weight: bold;
    display: block;
}
/*Ajax CSS */

/* .bgimg {
    position:relative; 
    top: 0;
    left: 0;
    width:100%;
    z-index:-1;
    opacity:1;
} */

.greeting {
    color:black;
    text-shadow: 1px 1px 3px rgba(255,255,255, .5);
    text-align: center;
}

.wikipedia-container {
    float:right;
    width:290px;
    padding:10px;
    margin-right: 10px;
    background-color: rgba(255,255,255,0.7);
}

.nytimes-container {
    padding: 10px;
    margin-right:300px;
    background-color: rgba(255,255,255,0.7);
}

.article-list {
    margin: 0;
    padding: 0;
}

.article {
    list-style-type: none;
    padding:10px;
    border-top: 1px solid #CCC;
}
.article:first-child {
    border-top:none;
}
/*Ajax CSS end*/

/* begin */
/* .animation1{
    width: 100%;
    height: 30px;
    position: relative;
	background-color: #F0E68C;
    animation-name: color-change;
    animation-duration: 2s;
    animation-iteration-count: 3;
    animation-direction: reverse;    
} */

/* Standard syntax */
@keyframes color-change {
     from {background-color: yellow;}
    to {background-color: green;}
}
/* end */


img:hover {
  animation: shake 1.25s;
  animation-iteration-count: initial;
}

a, a:hover {
    color: #c33;
    text-decoration: none;
    transition: all 0.3s;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}


/* Style the submit button with a specific background color etc */
input[type=submit] {

    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color:#c33;
}


/* #div1 {
    width: 250px;
    height: 250px;
    padding: 10px;
    border: 1px solid #0e0d0d67;
    text-align: function allowDrop(ev) {
        ev.preventDefault();
    }
    
    function drag(ev) {
        ev.dataTransfer.setData("text", ev.target.id);
    }
    
    function drop(ev) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
        ev.target.appendChild(document.getElementById(data));
    } 

} */

/*This is from Craig Shoemakers HTML5 tutorial -- TOP*/
[data-role="drag-drop-target"] {
    float: left;
    width: 200px;
    height: 150px;
    margin: 10px;
    padding: 10px;
    border: dashed rgb(156, 118, 37);
    border-radius: 10px;
  }
  .over {
    background-color: #ffc;
  }
  [draggable="true"] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Support old versions of WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
  }
  .drag {
    opacity: 0.25;
  }
/*This is from Craig Shoemakers HTML5 tutorial - BOTTOM*/
 





